:root {
    font-size: 16px;
    font-family: "Reem Kufi Fun", "sans-serif";
}

body {
    margin: 0;
    position: relative;
    z-index: -1;
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 15vh min-content min-content 1fr min-content 2fr;
    justify-items: center;
    align-items: baseline;
}

body::before {
    content: "";
    position: absolute;
    z-index: -2;
    width: 40vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(75deg, #090729, #000000);
}

body::after {
    content: "";
    position: absolute;
    z-index: -2;
    width: 60vw;
    height: 100vh;
    top: 0;
    left: 40vw;
    background: linear-gradient(75deg, #4b0c85 50%, #6018a3);
}

label {
    font-weight: bold;
}

#label-div {
    text-align: right;
    color: orange;
    padding-right: 0.5em;
}

#login-div {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 0.75em;
    color: #319915;
    padding-left: 0.5em;
}

.header-row {
    grid-row: 2 / 3;
}

.logo-row {
    max-height: 80px;
    grid-row: 3 / 4;
}

.login-row {
    grid-row: 5 / 7;
}

.left-side-element {
    text-align: right;
    justify-self: end;
    color: #ffa600;
}

.right-side-element {
    text-align: left;
    justify-self: start;
    color: #319915;
}

@media screen and (max-width: 420px) {
    #login-div {
        grid-template-columns: min-content;
    }
}
