<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>QR-Kalender Eintrag</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
  <style>
body, html {
  height: 100%;
  font-family: "Comfortaa", sans-serif;
}

pre {
  font-family: "Comfortaa", sans-serif;
  white-space: pre-wrap;
  word-break: keep-all;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/images/defaultheader.png");
  min-height: 75%;
}
</style>
</head>
<body>
  <!-- Header with image -->
  <header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <!--<div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">-->
    <div class="w3-display-bottomleft w3-center w3-padding-large">
      <span class="w3-tag" th:text="${kalender.bezeichnung}"></span>
    </div>
    <div class="w3-display-middle w3-center">
      <span class="w3-text-white" style="font-size:110px" th:text="${eintrag.nummer}"></span>
    </div>
    <div class="w3-display-bottomright w3-center w3-padding-large">
      <!--<span class="w3-text-white" th:text="${kalender.bezeichnung}"></span>-->
      <span class="w3-tag" th:text="'Für ' + ${kalender.empfaenger}"></span>
    </div>
  </header>

  <!-- Add a background color and large text to the whole page -->
  <div class="w3-sand w3-grayscale w3-large" />
    <!-- About Container -->
    <div class="w3-container" id="about">
      <div class="w3-content" style="max-width:700px">
        <img th:if="${eintrag.bild != null}" id="eintragImage" th:src="'data:' + ${imageContentType} + ';base64,' + ${eintragImage}" style="width:100%;max-width:1000px" class="w3-margin-top">
        <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide" th:text="${#temporals.format(today, 'dd.MM.yyyy')}"></span></h5>
        <pre th:text="${eintrag.inhalt}"></pre>
      </div>
      <div class="w3-content" style="max-width:700px">
        <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Dein Song des Tages</span></h5>
        <p th:utext="${eintrag.link}"></p>
      </div>
    </div>
  <!-- Footer -->
  <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
    <p>Powered by Yggdrasil-Schneider-Software-Solutions</p>
  </footer>
</body>
</html>