<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>QR-Kalender Eintrag</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
  <style>
body, html {
  height: 100%;
  font-family: "Comfortaa", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/images/defaultheader.png");
  min-height: 75%;
}
</style>
</head>
<body>
  <!-- Header with image -->
  <header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <!--<div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">-->
    <div class="w3-display-bottomleft w3-center w3-padding-large">
      <span class="w3-tag" th:text="${kalender.bezeichnung}"></span>
    </div>
    <div class="w3-display-middle w3-center">
      <span class="w3-text-white" style="font-size:110px" th:text="${eintrag.nummer}"></span>
    </div>
    <div class="w3-display-bottomright w3-center w3-padding-large">
      <!--<span class="w3-text-white" th:text="${kalender.bezeichnung}"></span>-->
      <span class="w3-tag" th:text="'Für ' + ${kalender.empfaenger}"></span>
    </div>
  </header>

  <!-- Add a background color and large text to the whole page -->
  <div class="w3-sand w3-grayscale w3-large" />
    <!-- About Container -->
    <div class="w3-container" id="about">
      <div class="w3-content" style="max-width:700px">
        <img th:if="${eintrag.bild != null}" id="eintragImage" th:src="${eintragImage}" style="width:100%;max-width:1000px" class="w3-margin-top">
        <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide" th:text="${#temporals.format(today, 'dd.MM.yyyy')}"></span></h5>
        <p th:text="${eintrag.inhalt}"></p>
      </div>
      <div class="w3-content" style="max-width:700px">
        <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Dein Song des Tages</span></h5>
        <p th:utext="${eintrag.link}"></p>
      </div>
    </div>
  <!-- Footer -->
  <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  </footer>
  <script>
    async function downloadFile(kalenderId, filename) {
        let response = await fetch('/api/file/download/' + kalenderId + '/' + filename, {
            method: "GET"
            /*headers: { 'X-XSRF-TOKEN': csrfToken }*/
        })

        if (response.status == 200) {
            alert("Datei erfolgreich geladen.");
            const imageBlob = await response.blob()
            const reader = new FileReader();
            reader.readAsDataURL(imageBlob);
            reader.onloadend = () => {
                const base64data = reader.result;
                console.log(base64data);
                //document.querySelector('#eintragImage').innerHTML = '<img src="' + base64data + '" </img>';
                document.getElementById('eintragImage').src = base64data;
            }
        } else {
            alert("Fehler: " + response.status);
        }
    }
  </script>
</body>
</html>