<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QR-Kalender Fehlermeldung</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
<div class="alert alert-danger" role="alert">
    <p th:text="${message}">Errortext</p>
</div>
<a href="${redirect}"><span class="label label-default">Zurück</span></a>
</body>
</html>